@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Roboto);


body
{
    background-color: #F7F7F7;
    margin: 0px;
}

.Header
{
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.InsideHeader
{
    display: flex;
    align-items: center;
    padding-left: 9%;
}

.LogoText
{
    color: #42515F;
    font: normal normal bold 20px/21px Montserrat;
    opacity: 1;
}

.TextEmployee
{
    color: #82A70C;
}

.TitleAndButtonsParent
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.TitleAndButtons
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.TitleEMPdetails
{
    font: normal normal bold 25px/35px Roboto;
    color: #42515F;
}

.SearchandAddButtons
{
    display: flex;
}

.searchButton
{
    width: 77px;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000029;
    border-radius: 28px;
    opacity: 1;
    border: 1px solid #F5F5F5;
}

.addUserButton
{
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #82A70C 0% 0% no-repeat padding-box;
    border-radius: 5px;
    border: 1px solid #82A70C;
    margin-left: 20px;
}

.addUserText
{
    font: normal normal normal 22px/29px Roboto;
    color: #FFFFFF;
}

.DetailsContentParent
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.DetailsContent
{
    display: flex;
    justify-content: center;
    width: 80%;
}

.MainTable
{
    width: 100%;
}

.TableHeadders
{
    display: flex;
    align-items: center;
    height: 55px;
    background: #42515F 0% 0% no-repeat padding-box;
    border-radius: 3px 3px 0px 0px;
    padding-left: 30px;
}
.wdtt
{
  margin-left: 50px;
}
.TableHeaderTextStyle
{
    text-align: left;
    font-size: 15px;
    font-family: Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.ProfilePicColomn
{
    flex-basis: 7px;
}
.tbd{
  width: 1549px;
height: 160px;
/* UI Properties */
background: #ffffff 0% 0% no-repeat padding-box;
border: 1px solid #906464;
opacity: 1;
margin-top: 15px;
}
.NameColomn
{
    flex-basis: 26%;
}

.GenderColomn
{
    flex-basis: 20%;
}

.DepartmentColomn
{
    flex-basis: 20%;
}

.SalaryColomn
{
    flex-basis: 10%;
}

.StartDateColomn
{
    flex-basis: 10%;
}

.ActionsColomn
{
    flex-basis: 8%;
}

.UserDataRow
{
    display: flex;
    align-items: center;
    height: 55px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E3E3E3;
    padding-left: 30px;
    margin-bottom: 1px;
}

.UserDataText
{
    font: normal normal normal 14px/19px Roboto;
    color: #3D3D3D;
}

.UserDataDept
{
    display: flex;
}

.DeptStyle
{
    background: #e2ff82 0% 0% no-repeat padding-box;
    padding: 2px 8px;
    border-radius: 9px;
    font: normal normal normal 13px/18px Roboto;
    letter-spacing: 0px;
    color: #3D3D3D;
    margin-right: 6px;
}
.srch{
    border-radius: 45px;
    border-color:transparent ;
}

.UserDataActions
{
    display: flex;
}

.EditImage
{
    margin-left: 30px;
}

a{
  text-decoration: auto;
  color: #FFFFFF;
}

.wtt{
  padding-left: 16px;
}
